<form action="signup" method="post">
  <input type="text" name="user" placeholder="Username...">
  <input type="email" name="email" placeholder="Email...">
  <input type="password" name="pass" placeholder="Password...">
  <input type="password" name="pass-repeat" placeholder="Retype Password...">
  <button type="submit" name="signup-submit">Signup</button>
</form>
{% if error %}
<h3>{{ error }}</h3>
{% endif %}

